<div class="container">
    <h2>Encontrá lo mejor para vos:</h2>
    <div class="row mt-5 mb-5" >
        <div class="col-md-3">
            <div class="card card-bg mb-3">
                <div class="card-body text-center">
                    <div class="fondo">
                        <a href="ecommerce/detalle-de-producto"><img src="../../../../../images/remera1.png" alt="remera adidas" /></a>
                    </div>
                    <div class="d-flex flex-row justify-content-around align-items-center mt-3 mb-3">
                        <h4>Modelo</h4>
                        <h5>S - M - L - XL</h5>
                    </div>
                    <h4>$9.599</h4>
                    <button class="btn btn-lg mt-3 mb-3">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-bg mb-3">
                <div class="card-body text-center">
                    <div class="fondo">
                        <a href="ecommerce/detalle-de-producto"><img src="../../../../../images/remera1.png" alt="remera adidas" /></a>
                    </div>
                    <div class="d-flex flex-row justify-content-around align-items-center mt-3 mb-3">
                        <h4>Modelo</h4>
                        <h5>S - M - L - XL</h5>
                    </div>
                    <h4>$9.599</h4>
                    <button class="btn btn-lg mt-3 mb-3">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-bg mb-3">
                <div class="card-body text-center">
                    <div class="fondo">
                        <a href="ecommerce/detalle-de-producto"><img src="../../../../../images/remera1.png" alt="remera adidas" /></a>
                    </div>
                    <div class="d-flex flex-row justify-content-around align-items-center mt-3 mb-3">
                        <h4>Modelo</h4>
                        <h5>S - M - L - XL</h5>
                    </div>
                    <h4>$9.599</h4>
                    <button class="btn btn-lg mt-3 mb-3">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-bg mb-3">
                <div class="card-body text-center">
                    <div class="fondo">
                        <a href="ecommerce/detalle-de-producto"><img src="../../../../../images/remera1.png" alt="remera adidas" /></a>
                    </div>
                    <div class="d-flex flex-row justify-content-around align-items-center mt-3 mb-3">
                        <h4>Modelo</h4>
                        <h5>S - M - L - XL</h5>
                    </div>
                    <h4>$9.599</h4>
                    <button class="btn btn-lg mt-3 mb-3">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-bg mb-3">
                <div class="card-body text-center">
                    <div class="fondo">
                        <a href="ecommerce/detalle-de-producto"><img src="../../../../../images/remera1.png" alt="remera adidas" /></a>
                    </div>
                    <div class="d-flex flex-row justify-content-around align-items-center mt-3 mb-3">
                        <h4>Modelo</h4>
                        <h5>S - M - L - XL</h5>
                    </div>
                    <h4>$9.599</h4>
                    <button class="btn btn-lg mt-3 mb-3">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-bg mb-3">
                <div class="card-body text-center">
                    <div class="fondo">
                        <a href="ecommerce/detalle-de-producto"><img src="../../../../../images/remera1.png" alt="remera adidas" /></a>
                    </div>
                    <div class="d-flex flex-row justify-content-around align-items-center mt-3 mb-3">
                        <h4>Modelo</h4>
                        <h5>S - M - L - XL</h5>
                    </div>
                    <h4>$9.599</h4>
                    <button class="btn btn-lg mt-3 mb-3">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>