.header-banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: black;
    background-image: url('../../../../../images/sports2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
    padding: 2rem 6rem; 
}

.btn{
    background-color: #ff814f;
    font-weight: bolder;
    box-shadow: -5px 5px 15px black;
    cursor: pointer;
    font-size: 1.3rem;    
    border: none;
    color: black;
}

.btn:hover{
    background-color: #ffaf90;
}
