<div class="container">
    <div class="card mb-3 card-bg" style="max-width: 90vw;">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="fondo">
                    <img src="../../../../images/remera1.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body d-flex flex-column align-items-center justify-content-between">
                    <h2 id="modelo">Modelo</h2>
                    <div class="inputs" id="talle">
                        <label>S</label>
                        <input type="radio" name="talle">
                        <label>M</label>
                        <input type="radio" name="talle">
                        <label>L</label>
                        <input type="radio" name="talle">
                        <label>XL</label>
                        <input type="radio" name="talle">
                    </div> 
                    <p class="card-text" id="precio">$ 9.599</p>
                    <p class="card-text">¡Pagá en hasta 6 cuotas sin interés!</p>
                    <p class="card-text">Devoluciones gratis</p>
                    <button class="btn btn-lg">Agregar al carrito</button>
                </div>
            </div>             
        </div>    
    </div>
</div>
